body {
    margin: 30px;
    background-color: darkblue;
}

.heading {
    font-size: 40px;
    width: 100%;
	text-align: center;
    color: orange;
}

.start-area {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-gap: 10px;
    justify-content: center;   	
}

button {
    font-size: 20px;
    text-align: center;
}

.time-area, .score-area {
    display: grid;
    grid-template-columns: 100vw;
    justify-content: center; 
}

.time, .score {
    font-size: 30px;
    text-align: center;
    color: azure;
}

.game-area {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
    justify-content: center;
    
}

.square {
    background-color: yellow;
    display: grid;
    place-items: center;
    
}


.mole {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/mole_in_game.png);
    
}

#game-area {
    font-size: 50px;
    color: orange;
    text-shadow: gray;
}