body {
    margin: 10px;
    background-color: darkblue;
}

.heading {
    font-size: 20px;
    width: 100%;
	text-align: center;
    color: orange;
}

.start-area {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-gap: 15px;
    justify-content: center;
      	
}

button {
    font-size: 15px;
    text-align: center;
    color: orange;
    background-color: blue;
}

.time-area, .score-area {
    display: grid;
    grid-template-columns: 100vw;
    justify-content: center; 
}

.time, .score {
    font-size: 15px;
    text-align: center;
    color: orange;
}

.game-area {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    justify-content: center;
    
}

.square {
    background-color: green;
    display: grid;
    place-items: center;
    
}


.mole {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/mole_in_game.png);
    
}

@media screen and (min-width: 600px) {
    .game-area {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
        justify-content: center;
        
    }

    .heading {
        font-size: 30px;
    }

    button {
        font-size: 25px;
        text-align: center;
    }

    .time, .score {
        font-size: 25px;
        text-align: center;
        color: orange;
    }
}


@media screen and (min-width: 800px) {
    .game-area {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 15vw);
        grid-template-rows: repeat(3, 15vw);
        justify-content: center;
        
    }

    .heading {
        font-size: 30px;
    }

    button {
        font-size: 25px;
        text-align: center;
    }

    .time, .score {
        font-size: 25px;
        text-align: center;
        color: orange;
    }
}


@media screen and (min-width: 1270px) {
    .game-area {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 10vw);
        grid-template-rows: repeat(3, 8vw);
        justify-content: center;
        
    }

    .heading {
        font-size: 40px;
    }

    button {
        font-size: 30px;
        text-align: center;
    }

    .time, .score {
        font-size: 30px;
        text-align: center;
        color: orange;
    }
}